#login{

}

#admin{
    display:none;
}

#admin header{
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
}

#tenant{
    display:none;
}

#tenant header{
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
}